In [3]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import API key
from config import gkey

In [17]:
# Import cities file into the cities_pd DataFrame
cities = pd.read_csv("../Resources/cities.csv")

In [18]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.
cities["lat"] = ""
cities["lng"] = ""
cities["airport name"] = ""
cities["aiport address"] = ""
cities["airport rating"] = ""

In [48]:
cities.head()

,City,State,lat,lng,airport name,aiport address,airport rating
0,New York City,New York,,,,,
1,Los Angeles,California,,,,,
2,Chicago,Illinois,,,,,
3,Houston,Texas,,,,,
4,Philadelphia,Pennsylvania,,,,,

In [53]:
base = "https://maps.googleapis.com/maps/api/geocode/json"
for index, row in cities.iterrows():
    state = row["State"]
    city = row["City"] 
    target_city = f"{city}, {state}"
    params = {"key": gkey, "address": target_city}
    response = requests.get(base,params =params)
    json = response.json()
    lat = json["results"][0]["geometry"]["location"]["lat"]
    lng = json["results"][0]["geometry"]["location"]["lng"]
    cities.loc[index,"lat"] = lat
    cities.loc[index,"lng"] = lng

In [61]:
base = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
location = f"{lat},{lng}"
params = {"radius": 50000,
    "types": "airport",
    "keyword": "international airport",
    "key": gkey,
     "location":"40.7128,-74.006"}
response = requests.get(base,params =params)
json = response.json()

In [74]:
json['results'][0]["vicinity"]

'Queens'

In [75]:
base = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"



for index, row in cities.iterrows():
    lat = row["lat"]
    lng = row["lng"] 
    location = f"{lat},{lng}"
    params = {"radius": 50000,
    "types": "airport",
    "keyword": "international airport",
    "key": gkey,
     "location":location}
    response = requests.get(base,params =params)
    json = response.json()
    cities.loc[index,"airport name"] = json['results'][0]["name"]
    cities.loc[index,"airport address"] = json['results'][0]["vicinity"]

In [55]:
cities

,City,State,lat,lng,airport name,aiport address,airport rating
0,New York City,New York,40.7128,-74.006,,,
1,Los Angeles,California,34.0522,-118.244,,,
2,Chicago,Illinois,41.8781,-87.6298,,,
3,Houston,Texas,29.7604,-95.3698,,,
4,Philadelphia,Pennsylvania,39.9526,-75.1652,,,
5,Phoenix,Arizona,33.4484,-112.074,,,
6,San Antonio,Texas,29.4241,-98.4936,,,
7,San Diego,California,32.7157,-117.161,,,
8,Dallas,Texas,32.7767,-96.797,,,
9,San Jose,California,37.3382,-121.886,,,
10,Austin,Texas,30.2672,-97.7431,,,
11,Jacksonville,Florida,30.3322,-81.6557,,,
12,San Francisco,California,37.7749,-122.419,,,
13,Indianapolis,Indiana,39.7684,-86.1581,,,
14,Columbus,Ohio,39.9612,-82.9988,,,
15,Fort Worth,Texas,32.7555,-97.3308,,,
16,Charlotte,North Carolina,35.2271,-80.8431,,,
17,Seattle,Washington,47.6062,-122.332,,,
18,Denver,Colorado,39.7392,-104.99,,,
19,El Paso,Texas,31.7619,-106.485,,,
20,Detroit,Michigan,42.3314,-83.0458,,,
21,Washington,District of Columbia,38.9072,-77.0369,,,
22,Boston,Massachusetts,42.3601,-71.0589,,,
23,Memphis,Tennessee,35.1495,-90.049,,,
24,Nashville,Tennessee,36.1627,-86.7816,,,
25,Portland,Oregon,45.5155,-122.679,,,
26,Oklahoma City,Oklahoma,35.4676,-97.5164,,,
27,Las Vegas,Nevada,36.1699,-115.14,,,
28,Baltimore,Maryland,39.2904,-76.6122,,,
29,Louisville,Kentucky,38.2527,-85.7585,,,
...,...,...,...,...,...,...,...
70,Toledo,Ohio,41.6528,-83.5379,,,
71,Lincoln,Nebraska,40.8136,-96.7026,,,
72,Orlando,Florida,28.5383,-81.3792,,,
73,Chula Vista,California,32.6401,-117.084,,,
74,Jersey City,New Jersey,40.7178,-74.0431,,,
75,Chandler,Arizona,33.3062,-111.841,,,
76,Fort Wayne,Indiana,41.0793,-85.1394,,,
77,Buffalo,New York,42.8864,-78.8784,,,
78,Durham,North Carolina,35.994,-78.8986,,,
79,St. Petersburg,Florida,27.7676,-82.6403,,,
80,Irvine,California,33.6846,-117.827,,,
81,Laredo,Texas,27.5036,-99.5076,,,
82,Lubbock,Texas,33.5779,-101.855,,,
83,Madison,Wisconsin,43.0731,-89.4012,,,
84,Gilbert,Arizona,33.3528,-111.789,,,
85,Norfolk,Virginia,36.8508,-76.2859,,,
86,Reno,Nevada,39.5296,-119.814,,,
87,Winston-Salem,North Carolina,36.0999,-80.2442,,,
88,Glendale,Arizona,33.5387,-112.186,,,
89,Hialeah,Florida,25.8576,-80.2781,,,
90,Garland,Texas,32.9126,-96.6389,,,
91,Scottsdale,Arizona,33.4942,-111.926,,,
92,Irving,Texas,32.814,-96.9489,,,
93,Chesapeake,Virginia,36.7682,-76.2875,,,
94,North Las Vegas,Nevada,36.1989,-115.118,,,
95,Fremont,California,37.5485,-121.989,,,
96,Baton Rouge,Louisiana,30.4515,-91.1871,,,
97,Richmond,Virginia,37.5407,-77.436,,,
98,Boise,Idaho,43.615,-116.202,,,
99,San Bernardino,California,34.1083,-117.29,,,

In [ ]:
# Loop through the cities_pd and get the lat/long for each city
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.loc`

In [ ]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

In [ ]:
# Save Data to csv


# Visualize to confirm airport data appears